{{#each this}}
<div class="modal-features-backdrop">
<article class="modal-features-wrapper">
    <button type="button" class="btn-close"><i class="material-icons">close</i></button>
    <h3 class="modal-features-title-main">{{titleMain}}</h3>
    <p class="modal-features-description">
        {{description1}}
  <ul class="modal-features-list"><li>
      <h5 class="modal-features-subtitle">{{title1}}</h5>
      <p class="modal-features-description">
         {{description2}}
      </p>
  </li>
    <li>
        <h5 class="modal-features-subtitle">{{title2}}</h5>
        <p class="modal-features-description">{{description3}}
</p>
    </li>
    <li>
        <h5 class="modal-features-subtitle">{{title3}}</h5>
        <p class="modal-features-description">{{description4}}</p>
    </li>
    {{#if this}}
    <li>
        <h5 class="modal-features-subtitle">{{title5}}</h5>
        <p class="modal-features-description">{{description6}}</p>
    </li>
    {{/if}}
  </ul>

  </p>
    
    </ul>
    <h4 class="modal-features-title">{{title4}}</h4>
    <p class="modal-features-description">{{description5}}</p>
         <p class="modal-features-pretext">{{text}} <a href="./portfolio.html" class="price-link">
             этой ссылке
           </a>.</p>
</article>
         
</div>
{{/each}}